<div  ng-class="{ 'has-error': userForm3.lastname.$touched && userForm3.lastname.$invalid}">


  <div class="formInput">
    <input type="text" name="lastname"
           ng-model="user.lastname"
           ng-minlength="2"
           ng-maxlength="20"
           ng-pattern="vm.namePattern"
           placeholder="last name"/>
  </div>

  <div class="help-block" ng-messages="userForm3.lastname.$error" ng-if="userForm3.lastname.$dirty || userForm3.lastname.$touched">
    <p ng-message="minlength">Too short.</p>
    <p ng-message="maxlength">Too long.</p>
    <p ng-message="pattern">String characters only</p>
  </div>

</div>
