<div ui-sref="seminarsAndTrainings.edit" class="EditPersonal">
  <div class="tooltip2">Edit
   <!-- <span class="tooltiptext2">Update Account Here</span>-->
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="datainPersonal">
      <ul>
        <!--Skills1 Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Cisco</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Date</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Date</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Facilitated by</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Person name Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Description</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </span></li>
          </div>
        </div>
        <!--Skills2 Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Training 2</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Date</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Date</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Facilitated by</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Person name Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Description</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </span></li>
          </div>
        </div>
        <!--Skills3 Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Training 3</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Date</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Date</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Facilitated by</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Person name Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Description</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </span></li>
          </div>
        </div>

      </ul>
    </div>
  </div>
</div>
