
<div style="height:40px;"></div>

<div class="container">
  <div class="row">
    <div class="col-md-4 advancer">


      <div class="myProfileBox">
        <p class="advanceTitle">Advance Search</p>

        <form class="employeeSearch">

          <div class="searchBox">

            <div class="row">
              <div class="col-md-12 col-xs-12">
               <div class="searchKeyword">
                 <input class="form-control" type="text" name="search" placeholder="Search..">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <select class="form-control">
                  <optgroup>
                    <option>Industry 1</option>
                    <option>Industry 2</option>
                    <option>Industry 3</option>
                    <option>Industry 4</option>
                    <option>Industry 5</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <select class="form-control">
                  <optgroup>
                    <option>CEO/SVP/AVP/VP Director</option>
                    <option>Assistant Manager/Manager</option>
                    <option>Supervisor/5 Years and Up Experience Employee</option>
                    <option>1-4 Years Experience Employee</option>
                    <option>Fresh Grad/Less Than 1 Year</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <select class="form-control">
                  <optgroup>
                    <option>Location 1</option>
                    <option>Location 2</option>
                    <option>Location 3</option>
                    <option>Location 4</option>
                    <option>Location 5</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-xs-12">
                <select class="form-control">
                  <optgroup>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-6 col-xs-12">
                <select  class="form-control">
                  <optgroup>
                    <option>18-20 years old</option>
                    <option>20-25 years old</option>
                    <option>25-30 years old</option>
                    <option>30-35 years old</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-default buttonSearch center">Search</button>
              </div>
            </div>

            <div style="height:20px;"></div>

          </div>

        </form>

      </div>


    </div>
    <div class="col-md-8">



      <div class="tablehere">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
          <thead>
          <tr>
            <th st-sort="lastName">Employee Id</th>
            <th st-sort="lastName">Employee Name</th>
            <th st-sort="firstName">Job Industry</th>
            <th st-sort="birthDate">Position Level</th>
            <th st-sort="balance">Location</th>
            <th st-sort="go">View</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="p in vm.people">
            <td>{{p.id}}</td>
            <td>{{p.firstName}} {{p.lastName }}</td>
            <td>{{p.industry}}</td>
            <td>{{p.employType }}</td>
            <td>{{p.street}} {{p.barangay}} {{p.city }}</td>
            <td><button>show</button></td>
          </tr>
          </tbody>
          <tfoot class="paginations">
          <tr>
            <td colspan="6" class="text-center">
              <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>






    </div>
  </div>
</div>


<div style="height:50px;"></div>


