<div  ng-class="{'has-error': userForm2.telephone.$touched  && userForm2.telephone.$invalid}">

  <input type="text" name="telephone"
         ng-model="user.telephone"
         ng-minlength="5"
         ng-maxlength="15"
         ng-pattern= "vm.mnumberOnly"/>

  <div class="help-block" ng-messages="userForm2.telephone.$error"
       ng-if="userForm2.telephone.$touched">
    <p ng-message="minlength">Number is too short.</p>
    <p ng-message="maxlength">Number is too long.</p>
    <div ng-message="pattern">Please enter a valid Telephone Number</div>
  </div>

</div>
