
    <div class="row" >
      <div class="col-md-6">
        <div class="group">

          <div class="form-group has-success has-feedback" ng-class="{'has-error': userForm.password.$touched && userForm.password.$invalid}">

            <span class="asterisk">*</span>
            <input type="{{ vm.showPassword ? 'password' : 'text' }}" name="password"
                   ng-minlength="8"
                   ng-model="mainpass"
                   required/>

            <label>Password</label>

            <span ng-class="{'glyphicon glyphicon-remove  form-control-feedback': userForm.password.$error}"
                  ng-if="userForm.password.$touched && userForm.password.$invalid"></span>
            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback': userForm.password.$valid}"
                  ng-if="userForm.password.$touched && !userForm.password.$invalid"></span>

            <span ng-click="vm.showHidePassword()"
                  class="eyeViewer glyphicon {{vm.eyeicon ? 'glyphicon-eye-open' : 'glyphicon-eye-close'}}">
            </span>

            <div class="help-block" ng-messages="userForm.password.$error"
                 ng-if="userForm.password.$touched">
              <div ng-message="required">You can't leave this empty</div>
              <div ng-message="minlength">Your password is too short</div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="group">

          <div class="form-group has-success has-feedback" ng-class="{'has-error': (userForm.confirmPass.$touched && userForm.confirmPass.$invalid)}">

            <span class="asterisk">*</span>
            <input type="password" name="confirmPass"
                   ng-model="confirmPassword"
                   compare-pass="mainpass"
                   required/>

            <label>Confirm Password</label>

            <span ng-class="{'glyphicon glyphicon-remove  form-control-feedback': userForm.confirmPass.$error}"
                  ng-if="userForm.confirmPass.$touched && userForm.confirmPass.$invalid"></span>
            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback': userForm.confirmPass.$valid}"
                  ng-if="userForm.confirmPass.$touched && !userForm.confirmPass.$invalid"></span>

            <div class="help-block" ng-messages="userForm.confirmPass.$error"
                 ng-if="userForm.confirmPass.$touched">
              <div ng-message="required">You can't leave this empty</div>
              <div ng-message="comparePass">The passwords didn't match</div>
            </div>
          </div>

        </div>
      </div>
    </div>




