<div ui-sref="personalDetails.edit" class="EditPersonal">
  <div class="tooltip2">Edit
   <!-- <span class="tooltiptext2">Update Account Here</span>-->
  </div>
</div>


<div class="row" ng-repeat="p in vm.people">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="datainPersonal">
      <ul>

        <!--Personal Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Profile Details</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Full name</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.firstName}} {{p.middleName}} {{p.lastName}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Gender</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.gender}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Date of Birth</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.dBirth}}</span></Data></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Age</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.age}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Full Address</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">
              {{p.street}}
              {{p.barangay}}
              {{p.city}}
              {{p.province}}
            </span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Civil Status</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.cStatus}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Nationality</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.nationality}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Religion</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.religion}}</span></li>
          </div>
        </div>

        <!--Contact Details Section-->

        <div class="row">
          <div class="col-md-12">
            <li><h5>Contact Details</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Email address</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.email}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Mobile Number</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.mobileNumber}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Other Phone Number</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.phoneNumber}}</span></li>
          </div>
        </div>

        <!--In case of emergency -->

        <div class="row">
          <div class="col-md-12">
            <li><h5>In Case of Emergency</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Person in case of Emergency</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.emergencyName}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Contact Number</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">{{p.emergencyContact}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Full Address</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span class="detailsDatainDark">
               {{p.emergencyStreet}}
               {{p.emergencyBarangay}}
               {{p.emergencyCity}}
               {{p.emergencyProvince}}
            </span></li>
          </div>
        </div>

        <!--Identification Section-->

        <div class="row">
          <div class="col-md-12">
            <li><h5>Identification</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Card Type</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span> {{p.cardName}}</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Number/ID</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span> {{p.cardNumber}}</span></li>
          </div>
        </div>



      </ul>
    </div>
  </div>
</div>
