<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="signupBg login-space">

                  <div class="signupBg-title">
                    <span>
                      <i class="fa fa-users fa-2x"></i>
                      <strong> CMM</strong>
                      <small>Login</small>
                    </span>
                  </div>

                  <form ng-submit="main.doLogin(userData)">
                      <div class="form-group">
                          <label class="control-label">Username</label>
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control"
                            placeholder="Username"
                            ng-model="userData.username">
                          </div>
                          <label class="control-label">Password</label>
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control"
                            placeholder="Password"
                            ng-model="userData.password">
                          </div>
                          <button class="btn btn-primary outline tprimary"
                          type="submit"
                          ng-show="!main.spinner">
                            Log-in
                          </button>
                          <div class="spinner"
                            ng-show="main.spinner">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                            </div>
                       </div>
                  </form>

            </div>
        </div>
    </div>
</section>
