
<div style="height:120px;"></div>


<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="myProfileBox">
        <div class="row">
          <div class="col-md-4">
            <img class="img-circle profilePicture" src="images/AngularJS-small.png" width="170" height="170">
          </div>
          <div class="col-md-8">
            <div style="background-color: blue">asd</div>


<!--
            image circle
            image upload button
            fname
            mname (disabled)
            lname (disabled)
            email (disabled)
            user id
            password
            confirm pass-->


          </div>
        </div>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<div style="height:50px;"></div>


