
<div style="height:40px;"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">


      <div class="myProfileBox">
        <p class="advanceTitle">Advance Search</p>

        <form>

          <div class="searchBox">

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Keyword <span class="searchTitle">- Type word or phrase to match relevant jobs</span></h6>
                  <div class="searchKeyword">
                    <input class="form-control" type="text" name="search" placeholder="Search..">
                    <button class="btn btn-success keywordButton"> + </button>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Field <span class="searchTitle">- Search specific job function or expertise</span></h6>

                <button accesskey="V" type="button" class="fa fa-arrow-up selectionButton" data-toggle="modal" data-target="#myModal"> select field</button>
                <uib-accordion close-others="oneAtATime">
                  <div uib-accordion-group class="panel-default"  heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                  </div>
                </uib-accordion>



                <div class="modal custom fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header modal-header-info">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Job Specialization</h4>
                      </div>
                      <div class="modal-body">

                        <form>
                        <div class="col-md-6">
                          <h6 class="modalFields">Field 1</h6>

                            <input type="checkbox" id="industry1" name="fieldType"  value="industry1"/>
                          <label for="industry1"><strong>Industry 1</strong></label>


                            <input type="checkbox" id="industry2" name="fieldType"  value="industry2"/>
                          <label for="industry2"><strong>Industry 2</strong></label>


                            <input type="checkbox" id="industry3" name="fieldType" value="industry3"/>
                          <label for="industry3"><strong>Industry 3</strong></label>


                            <input type="checkbox" id="industry4" name="fieldType" value="industry4"/>
                          <label for="industry4"><strong>Industry 4</strong></label>
                            <br/>
                            <br/>

                        </div>

                        <div class="col-md-6">
                          <h6 class="modalFields">Field 2</h6>

                          <input type="checkbox" id="industry12" name="fieldType"  value="industry1"/>
                          <label for="industry12"><strong>Industry 1</strong></label>


                          <input type="checkbox" id="industry22" name="fieldType"  value="industry2"/>
                          <label for="industry22"><strong>Industry 2</strong></label>


                          <input type="checkbox" id="industry32" name="fieldType" value="industry3"/>
                          <label for="industry32"><strong>Industry 3</strong></label>


                          <input type="checkbox" id="industry42" name="fieldType" value="industry4"/>
                          <label for="industry42"><strong>Industry 4</strong></label>
                          <br/>
                          <br/>

                        </div>
                        </form>

                        <div class="login-space"></div>


                      </div>
                      <div class="modal-footer">
                        <button ng-click="Showtoast()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>





              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Position Level </h6>







                <button accesskey="V" type="button" class="fa fa-arrow-up selectionButton" data-toggle="modal" data-target="#myModal2"> select level</button>
                <uib-accordion close-others="oneAtATime">
                  <div uib-accordion-group class="panel-default"  heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                  </div>
                </uib-accordion>



                <div class="modal custom fade" id="myModal2" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header modal-header-info">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Position Level</h4>
                      </div>
                      <div class="modal-body">

                        <form>
                          <div class="col-md-6">
                            <h6 class="modalFields">Field 1</h6>

                            <input type="checkbox" id="industry122" name="fieldType"  value="industry1"/>
                            <label for="industry122"><strong>Industry 1</strong></label>


                            <input type="checkbox" id="industry222" name="fieldType"  value="industry2"/>
                            <label for="industry222"><strong>Industry 2</strong></label>


                            <input type="checkbox" id="industry322" name="fieldType" value="industry3"/>
                            <label for="industry322"><strong>Industry 3</strong></label>


                            <input type="checkbox" id="industry422" name="fieldType" value="industry4"/>
                            <label for="industry422"><strong>Industry 4</strong></label>
                            <br/>
                            <br/>

                          </div>

                          <div class="col-md-6">
                            <h6 class="modalFields">Field 2</h6>

                            <input type="checkbox" id="industry123" name="fieldType"  value="industry1"/>
                            <label for="industry123"><strong>Industry 1</strong></label>


                            <input type="checkbox" id="industry223" name="fieldType"  value="industry2"/>
                            <label for="industry223"><strong>Industry 2</strong></label>


                            <input type="checkbox" id="industry323" name="fieldType" value="industry3"/>
                            <label for="industry323"><strong>Industry 3</strong></label>


                            <input type="checkbox" id="industry423" name="fieldType" value="industry4"/>
                            <label for="industry423"><strong>Industry 4</strong></label>
                            <br/>
                            <br/>

                          </div>
                        </form>

                        <div class="login-space"></div>


                      </div>
                      <div class="modal-footer">
                        <button ng-click="Showtoast()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>










              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Address <span class="searchTitle">- Locate your employee</span></h6>








                <button accesskey="V" type="button" class="fa fa-arrow-up selectionButton" data-toggle="modal" data-target="#myModal3"> select location</button>
                <uib-accordion close-others="oneAtATime">
                  <div uib-accordion-group class="panel-default"  heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                  </div>
                </uib-accordion>



                <div class="modal custom fade" id="myModal3" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header modal-header-info">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Locate</h4>
                      </div>
                      <div class="modal-body">

                        <form>
                          <div class="col-md-6">
                            <h6 class="modalFields">Field 1</h6>

                            <input type="checkbox" id="industry1222" name="fieldType"  value="industry1"/>
                            <label for="industry1222"><strong>Industry 1</strong></label>


                            <input type="checkbox" id="industry2222" name="fieldType"  value="industry2"/>
                            <label for="industry2222"><strong>Industry 2</strong></label>


                            <input type="checkbox" id="industry3222" name="fieldType" value="industry3"/>
                            <label for="industry3222"><strong>Industry 3</strong></label>


                            <input type="checkbox" id="industry4222" name="fieldType" value="industry4"/>
                            <label for="industry4222"><strong>Industry 4</strong></label>
                            <br/>
                            <br/>

                          </div>

                          <div class="col-md-6">
                            <h6 class="modalFields">Field 2</h6>

                            <input type="checkbox" id="industry1233" name="fieldType"  value="industry1"/>
                            <label for="industry1233"><strong>Industry 1</strong></label>


                            <input type="checkbox" id="industry2233" name="fieldType"  value="industry2"/>
                            <label for="industry2233"><strong>Industry 2</strong></label>


                            <input type="checkbox" id="industry3233" name="fieldType" value="industry3"/>
                            <label for="industry3233"><strong>Industry 3</strong></label>


                            <input type="checkbox" id="industry4233" name="fieldType" value="industry4"/>
                            <label for="industry4233"><strong>Industry 4</strong></label>
                            <br/>
                            <br/>

                          </div>
                        </form>

                        <div class="login-space"></div>


                      </div>
                      <div class="modal-footer">
                        <button ng-click="Showtoast()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>









              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h6>Salary </h6>
              </div>
                <div class="col-md-6 col-xs-6">
                  <input class="form-control" type="text" placeholder="min"/>
                </div>
                <div class="col-md-6 col-xs-6">
                  <input class="form-control" type="text" placeholder="max"/>
                </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-xs-12">
                <h6>Gender </h6>
                <select class="form-control">
                  <optgroup>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-6 col-xs-12">
                <h6>Age </h6>
                <select  class="form-control">
                  <optgroup>
                    <option>18-20 years old</option>
                    <option>20-25 years old</option>
                    <option>25-30 years old</option>
                    <option>30-35 years old</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-default buttonSearch center">Search</button>
              </div>
            </div>





            <div style="height:20px;"></div>



          </div>

        </form>

      </div>


    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<div style="height:50px;"></div>


