 <div ng-class="{ 'has-error': userForm2.email.$touched && userForm2.email.$invalid}">

            <input type="text" name="email"
                   ng-model="user.email"
                   ng-maxlength="30"
                   required
                   ng-pattern="vm.emailPattern"/>

            <div class="help-block" ng-messages="userForm2.email.$error" ng-if="userForm2.email.$dirty || userForm2.email.$touched">
              <p ng-message="maxlength">Your email is too long.</p>
              <p ng-message="required">Your email is required. {{email}}</p>
              <p ng-message="pattern">Enter valid email {{email}}</p>
            </div>

 </div>
<!--<pre>Your email is: <strong>{{email}}</strong></pre>-->
