<div ng-class="{ 'has-error': userForm.birthday.$touched && userForm.birthday.$invalid}">


    <input type="date" name="birthday" class="form-control"
           ng-model="vm.users.birthday"
           max="{{bdayCtrl.minAge}}"
           required/>


  <div class="help-block" ng-messages="userForm.birthday.$error" ng-if="userForm.birthday.$touched">
    <p ng-message="required">Birthday is required</p>
    <p ng-message="max">Must be 18 years old above</p>
  </div>

</div>
