<div ng-class="{ 'has-error': userForm4.firstname.$touched && userForm4.firstname.$invalid}">

  <div class="formInput">
    <input type="text" name="firstname"
           ng-model="user.firstname"
           ng-minlength="2"
           ng-maxlength="20"
           ng-pattern="vm.namePattern"
           placeholder="first name" />
  </div>

  <div class="help-block" ng-messages="userForm4.firstname.$error" ng-if="userForm4.firstname.$dirty || userForm4.firstname.$touched">
    <p ng-message="minlength">Too short.</p>
    <p ng-message="maxlength">Too long.</p>
    <p ng-message="pattern">String characters only</p>
  </div>

</div>

