<div ui-sref="workExperienceDetails.edit" class="EditPersonal">
  <div class="tooltip2">Edit
   <!-- <span class="tooltiptext2">Update Account Here</span>-->
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="datainPersonal">
      <ul>
        <!--First Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Web Developper</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Industry</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Industry</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Company</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Company</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Monthly Salary</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Monthly Salary</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Date Started</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Started Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Date End</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>End Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Reason for Leaving</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Reason Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Job Description</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </span></li>
          </div>
        </div>


        <!--Programmer Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Programmer</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Industry</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Industry</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Company</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Company</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Monthly Salary</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Monthly Salary</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Date Started</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Started Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Date End</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>End Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Reason for Leaving</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Reason Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Job Description</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </span></li>
          </div>
        </div>


      </ul>
    </div>
  </div>
</div>
