<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle accordionText" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Work Background
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

        <form name="userForm" >

          <div class="row">
            <div class="col-md-2">
              <p>Industry</p>
            </div>
            <div class="col-md-10">
              <div class="row formMarg">
                <div class="col-md-12">
                  <div class="formInput">
                    <select class="form-control">
                      <option>Industry 1</option>
                      <option>Industry 2 </option>
                      <option>Industry 3</option>
                      <option>Industry 4</option>
                      <option>Industry 5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Company</p>
            </div>
            <div class="col-md-10">
              <div class="row formMarg">
                <div class="col-md-12">
                  <div class="formInput">
                    <input class="form-control" type="text"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Monthly Salary</p>
            </div>
            <div class="col-md-10">
              <div class="row formMarg">
                <div class="col-md-12">
                  <div class="formInput">
                    <select class="form-control">
                      <option>9,000-12,000</option>
                      <option>12,000-18,000</option>
                      <option>Salary 3</option>
                      <option>Salary 4</option>
                      <option>Salary 5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Date Started</p>
            </div>
            <div class="col-md-10">
              <div class="row formMarg">
                <div class="col-md-6">
                  <div class="formInput">
                    <input class="form-control" type="month" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Date End</p>
            </div>
            <div class="col-md-10">
              <div class="row formMarg">
                <div class="col-md-6">
                  <div class="formInput">
                    <input class="form-control" type="month" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Reason for Leaving</p>
            </div>
            <div class="col-md-10">
              <div class="row formMarg">
                <div class="col-md-6">
                  <div class="formInput">
                    <select class="form-control">
                      <option>Career Change</option>
                      <option>Changes at company</option>
                      <option>Company downsized</option>
                      <option>Flexible schedule</option>
                      <option>Family reasons</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Job Description</p>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="formInput">
                  <div class="col-md-12">
                   <textarea rows="4" class="form-control">

                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>



         <!-- <button accesskey="V" type="button" class="btn btn-info glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal"> Edit</button>
          <uib-accordion close-others="oneAtATime" >
            <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
              This content is straight in the template.
            </div>
          </uib-accordion>





          <div class="modal custom fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              &lt;!&ndash; Modal content&ndash;&gt;
              <div class="modal-content">
                <div class="modal-header modal-header-info">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">

                  <form>
                    <h5 for="first_name"><strong>First name</strong></h5>
                    <input type="text" name="first_name" placeholder="John" />

                    <h5 for="last_name"><strong>Last name</strong></h5>
                    <input type="text" name="last_name" placeholder="Smith" />

                    <h5 for="last_name"><strong>Email</strong></h5>
                    <input type="email" name="email" placeholder="john.smith@gmail.com" />

                    <h5 for="last_name"><strong>Balance</strong></h5>
                    <input type="email" name="email" placeholder="john.smith@gmail.com" />
                    <br/>
                    <br/>
                    <input class="btn btn-success formbot glyphicon glyphicon-plus" ng-click="addRandomItem(row)" type="submit" value="Update" />
                  </form>

                </div>
                <div class="modal-footer">
                  <button ng-click="Showtoast()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>-->


















        </form>

      </div>
    </div>
  </div>
</div>
<button ui-sref="workExperienceDetails.view">Back</button>
