
<div style="height:50px;"></div>


<div class="container-fluid">
  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="vertical-menu">
        <a href="#" class="myProfile">
          <img class="img-circle" src="images/profileImage.jpg" width="70" height="70">
          Name name Name <br/>
          <i class="idNum">618-73943</i>
          <i class="showThis">View my Profile</i>
        </a>
        <a ui-sref="personalDetails.view" title="Personal Information"><span class="fa fa-user spaces"></span>Personal Information</a>
        <a ui-sref="educationDetails.view" title="Education"><span class="fa fa-mortar-board spaces"></span>Education</a>
        <a ui-sref="skillsDetails.view" class="active" title="Skills and Expertise"><span class="fa fa-bar-chart spaces"></span>Skills and Expertise</a>
        <a ui-sref="workExperienceDetails.view" title="Work Experience"><span class="fa fa-briefcase spaces"></span>Working Experience</a>
        <a ui-sref="seminarsAndTrainings.view" title="Seminars and Trainings"><span class="fa fa-certificate spaces"></span>Seminars and Trainings</a>
        <div class="menublank"></div>
      </div>

    </div>
    <div class="col-md-7">
      <div class="PersonalInfo">


          <span class="fa fa-bar-chart fa-2x PersonalDetailsIcon"></span>
          <h5 class="PersonalDetails">SKILLS AND EXPERTISE</h5>
          <hr/>


        <div ui-view=""></div>

        <button id="top" ng-click="toTop()" class="glyphicon glyphicon-chevron-up btn-lg totop"></button>


      </div>
    </div>
    <div class="col-md-1"></div>


  </div>
</div>



<div style="height:50px;"></div>


