<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle accordionText" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Qualifications
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

        <form name="userForm" >

          <div class="row">
            <div class="col-md-2">
              <p>Name of Skill</p>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12">
                  <div class="formInput">
                    <input class="form-control" type="text"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Proficiency</p>
            </div>
            <div class="col-md-10">
              <div class="row formMarg">
                <div class="col-md-6">
                  <div class="formInput">
                    <select class="form-control">
                      <option> Advanced</option>
                      <option>Proficient </option>
                      <option>Basic</option>
                      <option>Below Basic</option>
                      <option>Far Below Basic</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Remarks</p>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="formInput">
                  <div class="col-md-12">
                   <textarea rows="4" class="form-control">

                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<button ui-sref="skillsDetails.view">Back</button>
