<div ui-sref="skillsDetails.edit" class="EditPersonal">
  <div class="tooltip2">Edit
    <!--<span class="tooltiptext2">Update Account Here</span>-->
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="datainPersonal">
      <ul>
        <!--Skills1 Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Angular</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Proficiency</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>MyProficiency</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Remarks</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </span></li>
          </div>
        </div>
        <!--Skills2 Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Skill 2</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Proficiency</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>MyProficiency2</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Remarks</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </span></li>
          </div>
        </div>
        <!--Skills3 Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Skill 3</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Proficiency</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>MyProficiency3</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Remarks</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </span></li>
          </div>
        </div>

      </ul>
    </div>
  </div>
</div>
