
          <div class="form-group has-success has-feedback" ng-class="{ 'has-error': userForm.userid.$touched && userForm.userid.$invalid}">

            <span class="asterisk">*</span>
            <input type="text" name="userid"
                   ng-model="user.userid"
                   ng-minlength="5"
                   ng-maxlength="30"
                   required
                   ng-pattern="vm.useridPattern"/>

            <label>User ID</label>

            <span ng-class="{'glyphicon glyphicon-remove form-control-feedback': userForm.userid.$error}"
                  ng-if="userForm.userid.$dirty && userForm.userid.$invalid || userForm.userid.$touched && userForm.userid.$invalid "></span>
            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback': userForm.userid.$valid}"
                  ng-if="userForm.userid.$touched && userForm.userid.$valid || userForm.userid.$dirty && userForm.userid.$valid"></span>

            <div class="help-block" ng-messages="userForm.userid.$error" ng-if="userForm.userid.$dirty || userForm.userid.$touched">
              <p ng-message="minlength">Your user ID is too short</p>
              <p ng-message="maxlength">Your user ID is too long.</p>
              <p ng-message="required">Your user ID is required.</p>
              <p ng-message="pattern">Enter valid user ID</p>
            </div>


          </div>



<!--<pre>Your userid is: <strong>{{userid}}</strong></pre>-->
