<div ng-class="{'has-error': userForm2.mobileNumber.$touched  && userForm2.mobileNumber.$invalid}">

  <input type="text" name="mobileNumber"
         ng-model="user.mobileNumber"
         ng-pattern= "vm.mnumberOnly"
         required/>

  <div class="help-block" ng-messages="userForm2.mobileNumber.$error"
       ng-if="userForm2.mobileNumber.$touched">
    <div ng-message="required">You can't leave this empty</div>
    <div ng-message="pattern">Please enter a valid Telephone Number</div>
  </div>

</div>
