<div ng-class="{ 'has-error': userForm.firstname.$touched && userForm.firstname.$invalid}">

  <div class="formInput">
    <input type="text" name="firstname"
           ng-model="user.firstname"
           ng-minlength="2"
           ng-maxlength="20"
           required
           ng-pattern="vm.namePattern"
           placeholder="first name"/>
  </div>

  <div class="help-block" ng-messages="userForm.firstname.$error" ng-if="userForm.firstname.$dirty || userForm.firstname.$touched">
    <p ng-message="minlength">Too short.</p>
    <p ng-message="maxlength">Too long.</p>
    <p ng-message="required">This field is required.</p>
    <p ng-message="pattern">String characters only</p>
  </div>

</div>

