<div ui-sref="educationDetails.edit" class="EditPersonal">
  <div class="tooltip2">Edit
    <!--<span class="tooltiptext2">Update Account Here</span>-->
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="datainPersonal">
      <ul>

        <!--Tertiary Section-->
        <div class="row">
          <div class="col-md-12">
            <li><h5>Tertiary</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div style="">
              <li>Institution</li>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li>
                       <span>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fi
                       </span>
            </li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Course</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Course Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Major</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Major Data</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Degree level</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Degree level</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Location</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Location</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Year Graduated</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Year Graduated</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Achievements</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Achievements</span></li>
          </div>
        </div>


        <!--Secondary Section-->

        <div class="row">
          <div class="col-md-12">
            <li><h5>Secondary</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Institution</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Institution</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Location</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Location</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Year Graduated</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Year Graduated</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Achievements</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Achievements</span></li>
          </div>
        </div>


        <!--Primary Education-->

        <div class="row">
          <div class="col-md-12">
            <li><h5>Primary</h5></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Institution</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Institution</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Location</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Location</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Year Graduated</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Year Graduated</span></li>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <li>Achievements</li>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <li><span>Achievements</span></li>
          </div>
        </div>


      </ul>
    </div>
  </div>
</div>
